:root {
  --button-color: #4855ff;
  --border-color: #8d8d8d;

  --border: 1px solid var(--border-color);
}

body {
  background-color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: var(--border);
  border-radius: 5px;
}

.button-container {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.button-container > button {
  margin-left: 20px;
  padding: 10px 20px;
  border: var(--border);
  border-radius: 20px;
  background-color: var(--button-color);
  color: white;
  font-size: 12px;
  font-weight: bold;
}